html, 
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
    letter-spacing: 1px;
}

body {
    background-color: #181818;
    font-size: 14px;
    min-width: 720px; 
}

img {
    object-fit: cover;
    max-width: 100%;
}

/* Bottom player styles */
.player_container {
    width: 100%;
    background-color: #282828;
    bottom: 0;
    position: fixed;
    min-width: 620px;
}

.player {
    display: flex;
    height: 90px;
    padding: 16px;
    box-sizing: border-box;
}

.player_left_content, 
.player_right_content {
    width: 30%;
    min-width: 180px;
}

.player_right_content {
    position: relative;
    margin-top: 16px;
}

.player_center_content {
    width: 40%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player .content {
    width: 100%;
    height: 57px;
}

.player-controls .buttons {
    margin: 0 auto;
    display: table;
}

.control-button {
    background-color: transparent;
    border: none;
    vertical-align: middle;
}

.control-button img {
    width: 20px;
    height: 20px;
}

.control-button.play img, 
.control-button.pause img {
    width: 32px;
    height: 32px;
}

.control-button:hover {
    cursor: pointer;
}

.progress-time {
    color: #a0a0a0;
    font-size: 11px;
    min-width: 40px;
    text-align: center;
}

.playback-bar {
    display: flex;
}

.progressbar {
    display: flex;
    align-items: center;
    width: 100%;
}

.progressbar-bg {
    background-color: #404040;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    cursor: pointer;
}

.progress {
    background-color: #a0a0a0;
    height: 4px;
    width: 0;
    border-radius: 2px;
}

.player_left_content .album-artwork { 
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 15px;
    float: left;
    background-size: cover;
}

.player_left_content .track-info {
    display: table;
}

.player_left_content .track-info .track-name {
    margin: 6px 0;
    display: inline-block;
    width: 100%;
}

.player_left_content .track-info .artist-name span {
    font-size: 12px;
    color: #a0a0a0;
}

.volume-bar {
    display: flex;
    width: 180px;
    position: absolute;
    right: 0;
}

.volume-bar .progressbar {
    width: 125px;
}

.top_container {
    min-height: 100%;
    width: 100%;
}
/* End of the Bottom player styles */

/* NavBar styles */
.sidebar_container {
    background-color: #000000;
    width: 220px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.navbar {
    background: none;
    height: inherit;
    line-height: inherit;
    padding: 25px;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
}

.logo {
    margin-bottom: 15px;
}

.logo img {
    width: 32px;
}

.navbar .group {
    border-top: 1px solid #a0a0a0;
    padding: 10px 0;
}

.nav-item {
    position: relative;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 700;
    display: block;
    letter-spacing: 1px;
}

.nav-item-link {
    color: #a0a0a0;
    text-decoration: none;
}

.nav-item-link:hover {
    color: #ffffff;
}

.nav-item-link .icon {
    position: absolute;
    right: 0;
    top: 6px;
    width: 25px;
}
/* End of NavBar styles */

/* Main Page styles */
.main_wrapper {
    margin-left: 220px;
    padding-bottom: 90px;
    width: calc(100% - 220px);

}

.main_content {
    padding: 20px;
}

.page-heading-big {
    padding: 20px;
    text-align: center;
}

.grid-view-container {
    display: flex;
    justify-content: flex-start;
}

.grid-view-item {
    max-width: 300px;
    min-width: 150px;
    margin: 0 20px;
}

.grid-view-item a {
    text-decoration: none;
}

.grid-view-info {
    font-weight: 300;
    text-align: center;
    padding: 5px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.grid-view-info h3, p {
    margin: 0;
}

.grid-view-info h3 {
    font-size: 24px;
}
/* End of the Main Page styles */

/* Track Details styles */
.track_details_container {
    width: 50%;
    margin: 0 auto;
}

.track_details_container div {
    margin: 10px 0;
}
/* End of the Track Details styles */

.Toastify__toast-body div {
    color: #181818 !important;
}