html, 
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
    letter-spacing: 1px;
}

body {
    background-color: #181818;
    font-size: 14px;
    min-width: 720px; 
}

#nowPlayingBarContainer {
    width: 100%;
    background-color: #282828;
    bottom: 0;
    position: fixed;
    min-width: 620px;
}

#nowPlayingBar {
    display: flex;
    height: 90px;
    padding: 16px;
    box-sizing: border-box;
}

#nowPlayingLeft, 
#nowPlayingRight {
    width: 30%;
    min-width: 180px;
}

#nowPlayingRight {
    position: relative;
    margin-top: 16px;
}

#nowPlayingCenter {
    width: 40%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nowPlayingBar .content {
    width: 100%;
    height: 57px;
}

.player-controls .buttons {
    margin: 0 auto;
    display: table;
}

.control-button {
    background-color: transparent;
    border: none;
    vertical-align: middle;
}

.control-button img {
    width: 20px;
    height: 20px;
}

.control-button.play img, 
.control-button.pause img {
    width: 32px;
    height: 32px;
}

.control-button:hover {
    cursor: pointer;
}

.progress-time {
    color: #a0a0a0;
    font-size: 11px;
    min-width: 40px;
    text-align: center;
}

.playback-bar {
    display: flex;
}

.progressbar {
    display: flex;
    align-items: center;
    width: 100%;
}

.progressbar-bg {
    background-color: #404040;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    cursor: pointer;
}

.progress {
    background-color: #a0a0a0;
    height: 4px;
    width: 0;
    border-radius: 2px;
}

#nowPlayingLeft .album-artwork { 
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 15px;
    float: left;
    background-size: cover;
}

#nowPlayingLeft .track-info {
    display: table;
}

#nowPlayingLeft .track-info .track-name {
    margin: 6px 0;
    display: inline-block;
    width: 100%;
}

#nowPlayingLeft .track-info .artist-name span {
    font-size: 12px;
    color: #a0a0a0;
}

.volume-bar {
    display: flex;
    width: 180px;
    position: absolute;
    right: 0;
}

.volume-bar .progressbar {
    width: 125px;
}

#topContainer {
    min-height: 100%;
    width: 100%;
}

#navBarContainer {
    background-color: #000000;
    width: 220px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.navbar {
    background: none;
    height: inherit;
    line-height: inherit;
    padding: 25px;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
}

.logo {
    margin-bottom: 15px;
}

.logo img {
    width: 32px;
}

.navbar .group {
    border-top: 1px solid #a0a0a0;
    padding: 10px 0;
}

.nav-item {
    position: relative;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 700;
    display: block;
    letter-spacing: 1px;
}

.nav-item-link {
    color: #a0a0a0;
    text-decoration: none;
}

.nav-item-link:hover {
    color: #ffffff;
}

.nav-item-link .icon {
    position: absolute;
    right: 0;
    top: 6px;
    width: 25px;
}

#mainViewContainer {
    margin-left: 220px;
    padding-bottom: 90px;
    width: calc(100% - 220px);

}

#mainContent {
    padding: 0 20px;
}

.page-heading-big {
    padding: 20px;
    text-align: center;
}

.grid-view-item {
    display: inline-block;
    width: 30%;
    max-width: 300px;
    min-width: 150px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.grid-view-item img {
    width: 100%;
}

.grid-view-item a {
    text-decoration: none;
}

.grid-view-info {
    font-weight: 300;
    text-align: center;
    padding: 5px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.grid-view-info h3, p {
    margin: 0;
}

.grid-view-info h3 {
    font-size: 24px;
}

/* album.php page style */

.entity-info {
    padding: 40px 0 10px 0;
    display: inline-block;
    width: 100%;
}

.entity-info .left-section {
    width: 30%;
    max-width: 440px;
    float: left;
}

.entity-info .left-section img {
    width: 100%;
}

.entity-info .right-section {
    width: 70%;
    float: left;
    padding: 5px 10px 5px 40px;
    box-sizing: border-box;
}

.entity-info .right-section h2 {
    margin-top: 0;
}

.entity-info .right-section p {
    color: #939393;
    font-weight: 200;
}

.tracklist {
    padding: 0;
}

.tracklist-row {
    height: 40px;
    padding: 15px 10px;
    list-style: none;
}

.tracklist-row span {
    color: #939393;
    font-weight: 200;
}

.tracklist-row:hover {
    background-color: #282828; 
}

.tracklist-row .track-count {
    float: left;
    width: 8%;
}

.tracklist-row .track-count img {
    width: 20px;
    visibility: hidden;
    position: absolute;
    cursor: pointer;
}

.tracklist-row:hover .track-count img {
    visibility: visible;
}

.tracklist-row .track-count span {
    visibility: visible;
}

.tracklist-row:hover .track-count span {
    visibility: hidden;
}

.tracklist-row .track-info {
    width: 75%;
    float: left;
}

.tracklist-row .track-info span {
    display: block;
}

.tracklist-row .track-options {
    width: 5%;
    float: left;
    text-align: center;
}

.tracklist-row .track-options img {
    width: 15px;
    visibility: hidden;
}

.tracklist-row:hover .track-options img {
    visibility: visible;
}

.tracklist-row .track-duration {
    width: 12%;
    float: left;
    text-align: right;
}

.tracklist-row .track-info .trackname {
    color: #ffffff;
    margin-bottom: 7px;
}

.Toastify__toast-body div {
    color: #181818 !important;
}